body {
  padding-top: 50px;
}

img {
    max-width: 98%;
}

tr {
    height: 50px;
}

.main-content {
  padding: 40px 15px;
}

.display-title {
    text-align: center;
}

.display-work {
    padding-bottom: 24px;
}

.display-work>* {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-buttons {
    padding-top: 20px;
}

.table>tbody>tr>td {
    height: 58px;
    vertical-align: middle;
}

.browse-see-more {
    text-align: right;
}

.preview-td {
    width: 72px;
    text-align: center;
}

.user-td {
    width: 20%;
}

.license-td {
    width: 25%;
}

.copyright-logo {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 88px;
    /* Align the centre of the logo with the centre of the text next to it */
    position: relative;
    top: -8px;
    float: left;
    margin-right: 8px; /* So we line up the text with that next to the images */
}

.license-icon {
    outline: 1px solid lightgray;
}
